@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('./assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

:root {
  font-family: 'Barlow Condensed';
}

.checkbox-wrapper input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid#A5A6F6;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.checkbox-wrapper input.checked {
  background-color: white;
  position: relative;
}

.checkbox-wrapper input.checked::before {
  content: '';
  width: 14px;
  height: 14px;
  background-color: #5d5fef;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-wrapper input[type='checkbox']:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

.checkbox-wrapper input[type='checkbox']:disabled input[type='checkbox'].checked::before {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

.checkbox-wrapper input[type='checkbox']:disabled + span {
  color: #c0c0c0;
}

.checkbox-wrapper input[type='checkbox']:focus {
  box-shadow: 0 0 5px #5d5fef;
}

input.number-input::-webkit-outer-spin-button,
input.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'].number-input {
  -moz-appearance: textfield;
}
