@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('./assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

:root {
  font-family: 'Barlow Condensed';
}